<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent " color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/">
        AzureCasts </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="https://www.youtube.com/channel/UC70dLI0U5msNQvZ4vy_EcUA" target=_blank class=" nav-link" >
            <i class="fa fa-youtube"></i> YouTube
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/azurecasts" class="nav-link"  target=_blank>
            <i class="fa fa-github"></i> GitHub
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>